<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper" style="background-color:transparent">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0">Home Page</h1>
          </div><!-- /.col -->
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item active">Home Page</li>
            </ol>
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

   <div class="content">
       <div class="container-fluid">
        <div class="row">
          <div class="col-lg-6">
           <!--   <div class="card card-theme">
              <div class="card-header card-heading-theme border-0">
                  <h3 class="card-title">TBE</h3>
              </div>
              <div class="card-body card-body-theme">


              </div>
            </div>

            <div class="card card-theme">
                <div class="card-header card-heading-theme border-0">
                    <h3 class="card-title">TBE</h3>
                </div>
                <div class="card-body card-body-theme">
  
  
                </div>
              </div>
          </div>
          <div class="col-lg-6">
            <div class="card card-theme">
                <div class="card-header card-heading-theme border-0">
                    <h3 class="card-title">TBE</h3>
                </div>
                <div class="card-body card-body-theme">
  
  
                </div>
              </div> -->

              <div class="card card-theme">
                <div class="card-header card-heading-theme border-0">
                    <h3 class="card-title">Email Students</h3>
                </div>
                <div class="card-body card-body-theme">
                    <div>
                            <div class="form-group" [formGroup]="EmailForm">
                              <div class="row">
                                <div class="col pull-left">
                                  <span class = "pull-left">
                                    <button class="btn btn-success" type="button" (click)="onSend()">
                                        Send
                                      </button>
                                </span>
                                </div>
                                <div class="col pull-right">
                                  <span class="pull-right">
                                    <div class="dropdown" style="padding-bottom: 15px;">
                                        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                          <span *ngIf="selected">
                                            {{selectedCourseCode}}
                                          </span>
                                          <span *ngIf="!selected">
                                            Receiving Class
                                          </span>
                                        </button>
                                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                            <a *ngFor="let course of coursecodes;" class="dropdown-item" (click)="onSelect(course)">{{course}}</a>
                                        </div>
                                      </div>
                                </span>
                                </div>
                              
                              </div>
                              <div class="row">
                                <div class="md-form col-md-6">
                                  <label style="margin-left: 20px;"> Subject </label>
                                  <input mdbInput type="text" class="form-control" formControlName="subject" style="color: white;">
                                </div>
                                  <textarea class="form-control" class="form-control" formControlName="body" style="background-color: transparent; color: white; height: 250px;"></textarea>
                              </div>
                            </div>
                                
                    </div>

                </div>
              </div>
          </div>
          <!-- /.col-md-6 -->
        </div>
        <!-- /.row -->
      </div>
      <!-- /.container-fluid -->
    </div>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
